<h1>hello designer repo LIST</h1>


<div class="mainWindow">
    <div class="windowHeader">
        <input type="text" placeholder="Type to Filter Widget">
        <div class="headerBtn">
            <button id="gridBtn" click.Call="displayGrid">grid</button>
            <button id="listBtn" click.Call="displayList">list</button>
        </div>
    </div>
    <div class="windowCanvas">
        <ul>
            <li>text</li>
            <li>text</li>
            <li>text</li>
        </ul>
    </div>
</div>